.canvas {
    /* width: 1400px;
    height: 1200px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr), 400px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "b b b b b h"
    "b b b b b h"
    "b b b b b h"
    "b b b b b h"
    "b b b b b h"
    "a a a a a h";
    align-items: start;
}

.canvasBox {
    grid-area: b;
    position: relative;
}

#canvas-real {
    position: absolute;
    z-index: 1;
    width: 1000px;
    height:1000px;
}

#canvas-draft {
    position: absolute;
    z-index: 2;
    width: 1000px;
    height: 1000x;
}

.buttons {
    grid-area: a;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "c d e f g";
    align-items: start;
    width: 100px;
    height: 10px;
}

/* .drawRect {
    grid-area: c;
    width: 10vw;
    position: relative;
} */

/* .drawCircle {
    grid-area: d;
    width: 10vw;
    position: relative;
}

.drawLine {
    grid-area: e;
    width: 10vw;
    position: relative;
}

.drawStLine {
    grid-area: f;
    width: 10vw;
    position: relative;
}

.drawPen {
    grid-area: g;
    width: 10vw;
    position: relative;
} */


.dropDown {
    display: none;
    position: relative;
    width: 10vw;
    height: 30vw;
}

.dropDown > button{
    position: relative;
    display: inline-block;
    width: 10vw;
}

.style {
    width: 300px;
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "i"
    "j"
    "k";
    align-items: start;
}

.fill {
    grid-area: i;
    width: 10vw;;
    position: relative;
   
}

.stroke {
    grid-area: j;
    width: 10vw;
    position: relative;
    background-color: blue;
    height: 300px;
}

#slider-range-max{
    margin: 10px;
    display: block;
    background-color: red;
    width: 30px;
    height: 250px;
}

#slideFill {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(125,125,125)
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 2000x;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 15px;
    margin-bottom: 15px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: yellow;
    cursor: pointer;
}

.layerPanel {
    grid-area: k;
    width: 300px;;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.layerTable {
    border-collapse: collapse;
    width: 300px;
}

.layerTable > tr > td, .layerTable > tr > th {
    border: 1px solid #ddd;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

.layerTable > tr > th {
    background-color: #4CAF50;
    color: white;
    font-size: 30px;
    padding: 25px;
}

.layerTable > tr:nth-child(even){
    background-color: #f2f2f2;
}

.layerTable > tr:hover {
    background-color: #ddd;
}