body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0 0 0;
    border: 0 0 0 0;
    padding: 0 0 0 0;
}

.canvas {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "a b b b b c"
    "a b b b b c"
    "a b b b b c"
    "a b b b b c"
    "a b b b b c"
    "a b b b b c";
    align-items: start;
}

.buttons {
    grid-area: a;
    display: grid;
    position: relative;
    width: 19vw;
    height: 100vh;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "a1 a6"
    "a2 a7"
    "a3 a8"
    "a4 a9"
    "a5 a0";
}

.button {
    width: 7vw;
    height: 7vw;
    margin: 1vw 1vw 1vw 1vw;
    cursor: pointer;
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    box-shadow: 0 0 20px rgb(30, 150, 255);
}

.buttonContent{
    text-align: center;
}

.drop {
    font-size: 3.8vw;
    color: white;
    text-decoration: none;
    margin: auto;
    text-shadow: 0 0 10px rgb(255,265,45);
}

.buttonContent > p {
    font-size: 1vw;
    color: white;
    padding: 0;
    margin-top: 0.5vw;
    margin-bottom: 0;
    text-shadow: 0 0 10px rgb(100,100,100);
}

.drawRect{grid-area: a1; background-color: rgb(152,225,196)}
.drawCircle{grid-area: a2; background-color: rgb(223,198,238)}
.drawStLine{grid-area: a3; background-color: rgb(185,221,231)}
.drawLine{grid-area: a4; background-color: rgb(236,177,169)}
.drawPen{grid-area: a5; background-color: rgb(249,197,138)}
.eraser{grid-area: a6; background-color: rgb(245,215,122)}
.polygon{grid-area: a7; background-color: rgb(130,230,180)}
.redo{grid-area: a8; background-color: rgb(255,110,130)}
.undo{grid-area: a9; background-color: rgb(202,168,230)}

.canvasBox {
    grid-area: b;
    width: 62vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to top, #8e9eab, #eef2f3)
}

canvas {
    position: absolute;
    border:1px black solid;
}

#canvas-static{
    z-index: 0;
    background-color: white;
}
#canvas-1 {z-index: 1}
#canvas-draft {z-index: 2}

.style {
    grid-area: c;
    display: grid;
    grid-template-columns: 19vw;;
    grid-template-rows: 30vh 30vh 40vh;
    grid-template-areas: 
    "d"
    "e"
    "f";
    align-items: flex-start;
    background: linear-gradient(to bottom, #f1f2b5, #135058);
}

.fill {
    height: 100%;
    width: 100%;
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stroke {
    grid-area: e;
}

#slider-range-max{
    margin: 10px;
    display: block;
    background-color: red;
    width: 200px;
    height: 15px;
}

#slideFill {
    align-self: center;
    justify-self: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(125,125,125)
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 15px;
    margin-bottom: 15px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: yellow;
    cursor: pointer;
}

.layer {
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul { 
    list-style-type: none; 
    margin: 10px; 
    padding: 0; 
    margin-bottom: 10px; 
}

li, .layerTitle > p { 
    margin: 5px; 
    padding: 5px; 
    width: 300px; 
    height: 50px;
    background-color: aquamarine;
    cursor: pointer;
}

.layerTitle > p {
    background-color: rgba(255, 217, 0, 1);
}